:root {
  --primary-color: #151d3b;
  --secondary-color: #ffffffcc;
  --border-color: #fff;
  --bg-color: #c9dadcd2;
  --light-grey: #eee;
  --main-red: #982118;
  --shadow-color: rgba(0, 0, 0, 0.07);
  --body-bg-color: #eee;
  --body-text-color: #151d3b;
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #eee;
  color: #151d3b;
  margin: 0;
  font-size: 17px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h4 {
  margin-bottom: 0%;
}

.btn-primary {
  background-color: #982118;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-weight: 600;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #fff;
  color: #982118;
  transition: background-color 0.3s ease-out;
}

.btn-secondary:hover,
.btn-secondary:active {
  background-color: #fff;
  color: #151d3b;
  transition: background-color 0.3s ease-out;
}

.btn-secondary {
  background-color: #151d3b;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 1rem 2rem;
}

.btn-outline-primary {
  background-color: transparent;

  border: 2px solid #982118;
  font-weight: bold;
  color: #982118;
}

.btn-outline-primary:hover,
.btn-outline-primary:active {
  background-color: #982118;
  border: 2px solid #fff;
  color: #fff;
  transition: background-color 0.3s ease-out;
}

.btn-prev-pet {
  float: left;
  background-color: transparent;
  color: #fff;
  border: 5px solid #fff;
  margin-right: auto;
}

.btn-add-pet {
  float: right;
  background-color: #151d3b;
  color: #fff;
}

.btn-outline-danger {
  background-color: transparent;
  color: #982118;
  font-weight: bold;
  border: 2px solid #982118;
}

.btn-outline-danger:hover {
  background-color: #982118;
  color: #fff;
  border: 2px solid #fff;
}

/* navigation section */

nav {
  background-color: #c9dadc;
  opacity: 0.98;
}

.navbar-collapse {
  justify-content: flex-end;
}

.logo {
  height: 90px;
}

.small-logo {
  width: 150px;
  margin-right: 1.25rem;
}

.active-contact {
  background-color: #982118;
  color: #151d3b;
  border-radius: 5px;
}

.phone {
  display: inline-block;
  font-weight: bolder;
  color: #1a4786;
  letter-spacing: 2px;
}

.social {
  padding-left: 2em;
}

.section-heading {
  position: relative;
  text-align: center;
  font-weight: 900;
  z-index: 1;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

.section-bone {
  position: absolute;
  z-index: -1;
  height: 6.25rem;
  top: 17px;
  left: 50%;
  transform: translateX(-50%);
}

.color-red {
  color: #982118;
}

.color-white {
  color: #fff;
}

.reg-pet {
  margin: 0 auto;
}

/* hero sction */

.hero-section {
  background-color: #c9dadc;
  position: relative;
}

.hero-container {
  height: 25rem;
  width: 100%;
  margin: 0;
  padding: 0;
}

.hero-title {
  margin: 0;
  line-height: 1;
}

.hero-image {
  width: 100%;
  height: 25rem;
  background-color: #a7c7cc;
  background-position: center;
  z-index: -2;
  -webkit-clip-path: polygon(0 85%, 100% 68%, 100% 100%, 0% 100%);
  clip-path: polygon(0 85%, 100% 68%, 100% 100%, 0% 100%);
}

.hero-text {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 45%;
}

.dog {
  position: absolute;
  top: 1%;
  left: 55%;
  height: 400px;
  z-index: 2;
}

.cat {
  position: absolute;
  top: 40%;
  left: 75%;
  height: 14rem;
  z-index: 1;
}

.pig {
  position: absolute;
  top: 50%;
  left: 69%;
  height: 6.25rem;
  z-index: 1;
}

.bird {
  position: absolute;
  top: 5%;
  left: 80%;
  height: 6.25rem;
  z-index: 1;
}

.heart {
  position: absolute;
  top: 64%;
  left: 50%;
  height: 6.25rem;
  z-index: 1;
  transform: translate(-50%) rotate(4deg);
}

.promo-offer {
  background-color: #a7c7cc;
  color: #151d3b;
  padding: 0.25rem;
  text-align: center;
  font-size: 1rem;
}

/* register pet */

.reg-text {
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
  /* padding-left: 2rem; */
}

.reg-content {
  font-size: 1.25rem;
  font-weight: bold;
}

.strike {
  text-decoration: line-through;
  text-decoration-thickness: 4px;
  text-decoration-color: #ff0000aa;
}

#services {
  gap: 5%;
}

.nav-link {
  font-size: 1.25rem;
}

.nav-link:hover {
  color: #982118;
}

/* Service Cards */

.service-cards {
  background-image: url('./Images/paw--big.png');
  background-size: 75% 75%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}
.table {
  border: 1px solid #fff;
}

.card {
  text-align: center;
  border-radius: 1.5rem;
  border: 2px solid #ffffffcc;
  background-color: #c9dadcd2;
  transition: all 0.4s;
  padding: 1rem !important;
  box-shadow: rgba(0, 0, 0, 0.802) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.card-title {
  font-size: 1.5rem;
  color: #151d3b;
  font-size: 1.5rem;
  font-weight: 800;
}

.card-img-top {
  align-self: center;
}

.card-text {
  font-size: 0.95rem;
  color: #1f1f1f;
}

.fa-solid {
  display: block;
  font-size: 45px;
  margin: 1rem;
  color: #982118a0;
}

.fa-check {
  color: green;
  font-size: 25px;
}

.fa-xmark {
  color: #982118;
  font-size: 25px;
}

.service-cards {
  background-color: #a7c7cc;
}

/* Wellness Section */
.wellness-section {
  background-color: #a7c7cc;
}

/*  Staff Section */

.staff {
  background-color: #a7c7cc;
}

.card-img-top img {
  width: 90%;
  height: 70%;
  object-fit: cover;
  border: none;
}

/* About us section */
.accordion-button {
  background-color: #a7c7cc !important;
  color: #151d3b !important;
}

/* contact us section  */
#contact {
  background-color: #c9dadc;
  color: #151d3b;
}

.cat-section {
  background-color: #a7c7cc;
}

/* footer */
footer {
  background-color: #a7c7cc;
  overflow: hidden;
}
.fa-brands {
  color: #982118;
  font-size: 1.75rem;
}
.fab {
  padding-right: 1em;
}

/* REGISTER PET PAGE */

/* CLIENT INFO */

.contact-heading {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.5rem;
}

.form-page {
  background-color: #c9dadc;
  color: #151d3b;
}

.form-label {
  margin-bottom: 0 !important;
}

label {
  font-weight: normal;
  letter-spacing: 2px !important;
  margin: 0;
}

.step {
  display: none;
}

.activePage {
  display: block;
  background-color: #a7c7cc;
}

/* testimonials */

.testimonials {
  background-color: #c9dadc;
}

.testimonial-card .card-up {
  height: 7.5rem;
  overflow: hidden;
}

.card-up {
  display: flex;
  justify-content: center;
  border-bottom: 20px solid #151d3b;

  background-color: #a7c7cc;
}
.testimonial-card .avatar {
  width: 6.875rem;
  margin-top: -3.75rem;
  overflow: hidden;
  border-radius: 50%;
}

#star-rating {
  font-size: 1.25rem;
  display: inline;
  margin-left: 0;
  padding-top: 0.5rem;
  color: #982118a0;
}

hr {
  color: #982118;
}

/* Thank you page */

#thanks-section {
  align-content: center;
  color: #151d3b;
  background-color: #c9dadc;
  min-height: 70vh;
  font-size: 2rem;
  align-content: center;
}

/* BLOG SECTION */

.blog-header-img {
  max-width: 75px;
  max-height: 75px;
  border: none;
}

.blog-header {
  display: flex;
  flex-direction: row;

  gap: 1rem;
  padding-bottom: 1rem;
}

.blog-post-title {
  color: #982118;
  font-weight: 900;
}

.blog-post {
  background-color: #a7c7cc;
  color: #151d3b;
  padding: 10px 25px;
  margin-bottom: 25px;
  border-radius: 0.5rem;
  border: 2px solid #eee;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.blog--section {
  background-color: #c9dadc;
}

.table-responsive th,
.table-responsive td {
  width: auto; /* This will make the columns as wide as their content */
}

/* image-blur */
.img-blur {
  filter: blur(8px);
  transition: filter 0.3s ease-out;
}

.animate {
  display: inline-block;
  animation: pulse 1s infinite;
}

.click-here {
  color: #982118;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  th,
  td,
  tr {
    width: 100%; /* This will make the columns take up the full width of the screen on mobile devices */
    box-sizing: border-box;
    overflow-x: auto;
    white-space: wrap;
  }
}

@media only screen and (max-width: 1000px) {
  .dog,
  .cat,
  .bird,
  .heart {
    display: none;
  }
  .section-heading {
    padding-top: -10.5rem;
    padding-bottom: 2rem;
  }
  .hero-text {
    width: 90%;
  }

  .hero-text > h1 {
    font-size: 1.5rem;
  }

  .hero-container {
    text-align: center;
  }

  .service-cards {
    padding: 1rem !important;
    background-image: none;
  }

  #btn-submit {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 85%;
    text-align: center;
  }

  .section-bone {
    top: -27px;
    left: 50%;
  }

  .hero-text > h1 {
    font-size: 2rem;
  }

  .hours {
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .cat {
    left: 70%;
  }

  .pig {
    display: none;
  }
  .hero-text {
    z-index: 1;
    top: 5%;
    left: 5%;
    /* width: 45%; */
  }

  .hero-text > h1 {
    font-size: 2rem;
  }

  .logo {
    height: 4.375rem;
  }

  #btn-submit {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 75%;
    text-align: center;
  }
}
